body {
    background-image: url(Images/canvas-bck.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body:after{
  content:"";
  position:fixed; /* stretch a fixed position to the whole screen */
  top:0;
  height:100vh; /* fix for mobile browser address bar appearing disappearing */
  left:0;
  right:0;
  z-index:-1; /* needed to keep in the background */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 600px) {

    body {
      background-image: url(Images/canvas-bck-mobile.png);
      /* background-attachment:scroll; */
    }
  
  }

/* 
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    body {
      background-image: url(Images/canvas-bck-mobile.png);
    }
}


@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    body {
      background-image: url(Images/canvas-bck-mobile.png);
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    body {
      background-image: url(Images/canvas-bck-mobile.png);
    }
}

@media (min-device-width : 320px) and (max-device-width : 568px) and (orientation: portrait) {
  body {
      height: 568px;
  }
}  */